/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: monserrate;
  width: 100%;
  min-height: 100vh;
}

@font-face {
  font-family: roboto;
  src: url("assets/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto-bold;
  src: url("assets/Roboto-Bold.ttf");
}

@font-face {
  font-family: monserrate;
  src: url("assets/Montserrat-Regular.ttf");
}

@font-face {
  font-family: monserrate-bold;
  src: url("assets/Montserrat-Bold.ttf");
}
